<section class="page-hero">
    <!-- <p class="eyebrow"> projects</p> -->
    <h1>Things I've <em>built.</em></h1>
</section>

<div class="filter-bar">
    <button
    *ngFor="let cat of categories"
    class="filter-btn"
    [class.active]="activeFilter() === cat"
    (click)="activeFilter.set(cat)">
    {{ cat }}
    </button>
</div>

<div class="projects-grid">
    <div class="project-card" *ngFor="let p of filteredProjects(); let i = index">
    <div class="project-header">
        <span class="project-year">{{ p.year }}</span>
        <span class="project-cat">{{ p.category }}</span>
    </div>
    <h3 class="project-title">{{ p.title }}</h3>
    <p class="project-desc">{{ p.description }}</p>
    <div class="project-footer">
        <div class="project-tags">
        <span *ngFor="let tag of p.tags">{{ tag }}</span>
        </div>
        <!-- <span class="project-arrow">→</span> -->
    </div>
    </div>
</div>